@charset "utf-8";
body { background: #eee; }
.primary-header { padding: 35px 0; }
.search-custom { padding: 25px; }
.primary-navigation { color: #fff; background-color: #d9534f; }
.primary-navigation li a { color: #fff; padding: 20px; border-radius: 0; }
.primary-navigation li a:hover, .primary-navigation li.active a { background: #fff; color: #d9534f; }
.primary-content-text { background-color: #fff; -webkit-box-shadow: 1px 1px 0 rgba(199,196,191,.62), 1px 1px 3px rgba(210,207,202,.73); -moz-box-shadow: 1px 1px 0 rgba(199,196,191,.62), 1px 1px 3px rgba(210,207,202,.73); border-radius: 2px; }
.result-text p { margin: 0; padding: 10px; }
.result-text p:nth-child(even) { }
.result-text p:nth-child(odd) { background: #f9f9f9; }
.copyright { background: #fff; padding: 15px; padding-bottom: 5px; text-align: center; margin-top: 30px; }
/**/
#form-search, #form-search input { width: 100%; }
#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }
#searchfield form { display: inline-block; background: #eeefed; padding: 0; margin: 0; padding: 5px; border-radius: 3px; margin: 5px 0 0 0; }
#searchfield form .biginput { width: 600px; height: 40px; padding: 0 10px 0 10px; background-color: #fff; border: 1px solid #c8c8c8; border-radius: 3px; color: #aeaeae; font-weight: normal; font-size: 1.5em; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; }
#searchfield form .biginput:focus { color: #858585; }
.flatbtn { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; outline: 0; border: 0; color: #f3faef; text-decoration: none; background-color: #6bb642; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); font-size: 1.2em; font-weight: bold; padding: 12px 22px 12px 22px; line-height: normal; text-align: center; vertical-align: middle; cursor: pointer; text-transform: uppercase; text-shadow: 0 1px 0 rgba(0,0,0,0.3); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3); -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3); box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3); }
.flatbtn:hover { color: #fff; background-color: #73c437; }
.flatbtn:active { -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }
.autocomplete-suggestions { border: 1px solid #ccc; background: #fff; cursor: default; overflow: auto; border-radius: 4px; }
.autocomplete-suggestion { padding: 7px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #d9534f; }